@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAEBD7;
  --foreground: #0e0e0e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #e6e3e3;
    --foreground: #0e0e0e;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
